---
//components
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const title = "Restoran Web";
const description ="Selalu ada sesuatu yang enak untuk dimakan di restoran kami. Kami menyediakan berbagai macam menu, sehingga selalu ada pilihan yang tepat untukmu. Pesan sekarang dan nikmati hidangan kami yang lezat dan layanan yang ramah.";
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#fff" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">

		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://metatags.io/" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="https://metatags.io/images/meta-tags.png" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://metatags.io/" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" />

	</head>
	<body>
        <Header />
        <main class="min-h-[100vh]">
            <slot />
        </main >
        <Footer />
        <script is:inline src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
	</body>
</html>
